<%- include("header.ejs") %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>How it Works</title>
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body>
    <h1><%= 'How It Works' %></h1>
    <h2><%= 'Adding A Post' %></h2>

    <h3><%= 'To add a post, navigate to the home screen and click "Create a New Post" You can now type your blog post, click "Save Changes" to save your changes and see your new post on the home screen' %></h3>

    <h2><%= 'Updating A Post' %></h2>
    <h3><%= 'To update a post, click into the post, you can now type your new changes click "Save Changes" to save your changes' %></h3>


    <h2><%= 'Deleting A Post' %></h2>
    <h3><%= 'To delete a post, click into the post, you can now click "Delete post" to remove your post' %></h3>



  </body>
</html>
